/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

li {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 35em) {
    .completed label {
        text-decoration: line-through;
        background-color: rgba(green, .15);
        border-color: rgba(green, .2);
    }
    .container {
        margin-top: 1rem;
    }
    body {
        height:100%;
    }
    button:focus {
        border-color: #3273dc !important;
        box-shadow: 0 0 0 0.17em rgba(50, 115, 220, 0.25) !important;
    }
    section {
        border-radius: 10px;
        background-color:#f5f5f5;
    }
}

